.background-dark {
    background: #353A47;
}

.red-text {
    color: #F70100;
}

/* Display styling */
.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
}

.flex-column {
    flex-direction: column;
}

/* Font styling */
.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.bold {
    font-weight: bold;
}

.font-italic {
    font-style: italic;
}

/* Spacing elements */
.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mt-4 {
    margin-top: 4px;;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-16 {
    margin-top: 16px;
}