<!DOCTYPE html>
<html>
  <style>
    head {
      font-family: "Audiowide", sans-serif;
      margin-left: 0;
      margin-top: 0;
      padding-top:0;
      padding-left:0;
    }
    </style>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Driver Predictions</title>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" type="text/css" href="{% static "css/drivers.css" %}"
    />
  </head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
  <style>
  body {
    font-family: "Audiowide", sans-serif;
    margin-left: 0;
    margin-top: 0;
    padding-top:0;
    padding-left:0;
  }
  </style>
  <body>
    <div id="main">
      <div id="app"></div>
    </div>

    <script src="{% static "frontend/main.js" %}"></script>
  </body>
</html>